docker:
  user: CHANGETO_DOCKERHUB_USERNAME
  password: CHANGETO_DOCKERHUB_PASSWORD
  repository: CHANGETO_DOCKERHUB_USERNAME

helmApplyConfig:
  releases:
    tweeviz-ui-${ENV}:
      parameters:
        image:
          repository: CHANGETO_DOCKERHUB_USERNAME/
